https://vitstore.dev {
    reverse_proxy localhost:4325
    tls internal
}

https://api.vitstore.dev {
    reverse_proxy localhost:3006
    tls internal
}

https://admin.vitstore.dev {
    reverse_proxy localhost:3005
    tls internal
}
