---































import { createServerClient } from "@/lib/trpc";
import { env } from "cloudflare:workers";


const result = await env.server.fetch("https://internal/health-check");
const data = await result.json()
const serverApi = createServerClient("", env.server);
const trpcResult=await serverApi.healthCheck.query();
---
<div>
    hello test 
    <p>fetch result: {JSON.stringify(data)}</p>
        <p>trpc result: {trpcResult}</p>

</div>
