---

import "../styles/global.css";
import "../styles/starwind.css"
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import MobileNavbar from "./MobileNavbar.astro";
import QueryDevtools from "@/components/query-devtools";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Vitamin Store</title>
        <ClientRouter />
    </head>
    <body>
        <div class="min-h-screen w-full bg-white relative">
            <div
                class="absolute inset-0"
                style="background:#ffffff;background-image:radial-gradient(circle at 1px 1px, rgba(0,0,0,0.35) 1px, transparent 0);background-size:20px 20px;"
            >
            </div>
            <div
                class="absolute inset-0"
                style="background-image:radial-gradient(circle at 50% 40%, #FFF991 0%, rgba(255,255,255,0) 70%);opacity:.6;mix-blend-mode:multiply;"
            >
            </div>

            <Header />
            <main class="relative z-10">
                <slot />
            </main>

            <Footer />
            <MobileNavbar />
        </div>
        		{import.meta.env.DEV && <QueryDevtools client:idle />}

    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
<script>
    document.addEventListener("astro:page-load", () => {
        console.log("✅ View transition page load!");
    });

    document.addEventListener("astro:before-preparation", () => {
        console.log("🚀 Starting navigation...");
    });
</script>

